@import './../../App.scss';
.Project7{
    span{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        margin: .5rem;
        background: #111;

    }
    p{
        margin-top: 3rem;
    }
}
